<input #input1  type="text" >
<!-- (keyup)="onClick(input1.value)" -->
 <button (click)="onClick(input1.value)" >Click Me</button> 

<label>{{res}}</label>
<hr>
<input [value]="x" >
<button [disabled]="flag" (click)="onClickButton()"  >Click</button>
<button (click)="onClickOnOff()" >On/Off</button>

<button>deep</button>



<hr>
<input [value]="y" >
<button (click)="onClick1()" >1</button>
<button (click)="onClick2()" >2</button>
<button (click)="onClickplus()">+</button>
<button (click)="onClickeq()" >=</button>
<br>
<br>
<input type="text" [(ngModel)]="str">
<h1>{{str}}</h1>