    <div class="container">
  <b style="font-size: 50px;">Product Application</b>
  <button (click)="onAdd()" style="margin-left: 400px;" type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  </div>
  <div *ngIf="flag" class="container">
    <div class="form-group">
     <h4>Id:</h4> <input class="form-control" type="number" [(ngModel)]="id1">
    </div>

    <div class="form-group">
        <h4>Name:</h4> <input class="form-control" type="text" [(ngModel)]="name1">
    </div>

    <div class="form-group">
        <h4>Price:</h4> <input class="form-control" type="number" [(ngModel)]="price1">
    </div>

    <div class="form-group">
        <h4>Quantity:</h4> <input class="form-control" type="number" [(ngModel)]="quantity1">
    </div>

     <div class="form-group">
        <h4>Status:</h4>
        <select class="form-control" disabled [(ngModel)]="sts1">
          <option *ngFor="let item of sta" >{{item}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-6">
                <button class="btn btn-lg btn-primary form-control" (click)="onclickAdd()" >ADD</button>
        </div>
        <div class="col-md-6">
                <button class="btn btn-lg btn-danger form-control" (click)="flag=false" >CANCEL</button>
        </div>


    </div>

  </div>
  <br>
  <hr>
  <div class="container">


    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            abc
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
           xyz
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="row">

          <div *ngFor="let item of arr" class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{item.pimg}}" alt="..." height="200px" width="200px" >
              <div class="caption">
                <h3>{{item.name}}</h3>
                <p>{{item.price}}</p>
                <p>{{item.quantity}}</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-inverse">

      </nav>
    </div>
  </div>
